{% extends 'meetups/base/base.html' %} <!-- tells Django that this template overrides the base.html template -->

<!-- Enable Django static tag commands -->
{% load static %}

{% block title %}
  All Meetups
{% endblock %}

{% block site_css %}
  <link
    rel="stylesheet"
    href="{% static 'meetups/styles/all-meetups.css' %}"
  />
{% endblock %}

{% block main_heading %}
  Check out the following meetups!
{% endblock %}

{% block header_content %}
  <p>Find a meetup that suits your needs!</p>
{% endblock %}

{% block body %}
  <section>
    <h2>Upcoming Meetups</h2>
    <ol>
      {% for meetup_item in meetups %}
        {% include 'meetups/includes/meetup-item.html' with title=meetup_item.title location='Toronto' slug=meetup_item.slug image=meetup_item.image.url %}
      {% endfor %}
    </ol>
  </section>
{% endblock %}
